@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

:root {
  @apply bg-bg-primary text-text-primary font-nunito;

  /* 🌞 LIGHT MODE */
  --color-bg-primary-source: hsl(0, 0%, 98%);
  --color-bg-secondary-source: hsl(0, 0%, 100%);
  --color-text-primary-source: hsl(200, 15%, 8%);
  --color-text-secondary-source: hsl(0, 0%, 52%);
  --color-text-accent-source: hsl(209, 23%, 22%);
  --color-bg-input-source: hsl(0, 0%, 100%);
  --color-bg-button-source: hsl(209, 23%, 22%);
}

.p-text-format {
  @apply text-sm font-bold xl:text-base;
}

.dark {
  /* 🌚 DARK MODE */
  --color-bg-primary-source: hsl(207, 26%, 17%);
  --color-bg-secondary-source: hsl(209, 23%, 22%);
  --color-text-primary-source: hsl(0, 0%, 100%);
  --color-text-secondary-source: hsl(0, 0%, 100%);
  --color-text-accent-source: hsl(0, 0%, 100%);
  --color-bg-input-source: hsl(209, 23%, 22%);
  --color-bg-button-source: hsl(0, 0%, 100%);
}

@theme inline {
  --font-nunito: "Nunito Sans", sans-serif;
  --color-bg-primary: var(--color-bg-primary-source);
  --color-bg-secondary: var(--color-bg-secondary-source);
  --color-text-primary: var(--color-text-primary-source);
  --color-text-secondary: var(--color-text-secondary-source);
  --color-text-accent: var(--color-text-accent-source);
  --color-bg-input: var(--color-bg-input-source);
  --color-bg-button: var(--color-bg-button-source);
}
