@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --font-nunito: "Nunito Sans", sans-serif;
  @apply bg-very-light-gray text-very-dark-blue;

  --color-dark-blue-source: #2f3949;
  --color-very-dark-blue-source: #13171b;
  --color-dark-gray-source: #858585;
  --color-very-light-gray-source: #fafafa;
  --color-white-source: #ffffff;
}

.dark {
  --color-dark-blue-source: #2f3949; /* Tetap digunakan untuk elemen */
  --color-very-dark-blue-source: #ffffff; /* Dipakai untuk teks di dark mode */
  --color-dark-gray-source: #2f3949; /* Input background di dark mode */
  --color-very-light-gray-source: #202c37; /* Background utama dark mode */
  --color-white-source: #13171b; /* Untuk teks aksen atau tombol */
}

@theme inline {
  --color-dark-blue: var(--color-dark-blue-source);
  --color-very-dark-blue: var(--color-very-dark-blue-source);
  --color-dark-gray: var(--color-dark-gray-source);
  --color-very-light-gray: var(--color-very-light-gray-source);
  --color-white: var(--color-white-source);
}
